.App {
  text-align: center;
  background: #ff70A6;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#auth-box{
    margin-top: 100px;
    height: 400px;
    width: 700px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
}

#helo{
    font-size: 50px;
    color: white;
}

#buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.hi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button{
    height: 30px;
    width: 100px;
    background: gray;
    color: white;
    font-size: 20px;
}

#nav-main{
    height: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 300px;
    border: 2px solid white;
    justify-content: space-between;
}

#dash-main{
    margin-top: 50px;
}